* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;


}

.contenedor-nav {
    height: 100%;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30%;

}

nav ul li {

    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: rgb(128, 6, 243);
    transition: .3s;

}

.Titulo-h1 {
    text-align: justify;
    font-size: 40px;
    margin-top: 5%;
    padding-top: 20px;
    padding-left: 15%;
    font-weight: bold;

}

.p {
    text-align: center;
    margin-right: 55%;
    margin-top: 1%;
    font-size: 24px;
}

.P {

    margin-left: 17%;
    margin-top: 1%;
    font-size: 20px;
}

samp {
    color: hwb(273 0% 0%);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.Logos {
    margin-top: 15px;
    margin-left: 18%;
    display: inline-block;


}

.Foto img {
    float: right;
    margin-top: 5%;
    margin-right: 15%;
    border-radius: 15% 20px;



}

.contenedor2 {

    margin-top: 10%;
    background-color: #272727;

}

.titulo_principal {

    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: white;

}
.parrafo{
    text-align: center;
    color: white;
    margin-top: 15px;
}

.img{
 display: inline-block;
 height: 120px;
 width: 150px;
}