* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;


}
html {
    background-color: #eaf0f2;
}

.contenedor-nav {
    height: 100%;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30%;

}

nav ul li {

    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: rgb(128, 6, 243);
    transition: .3s;

}

.Titulo-h1 {
    text-align: justify;
    font-size: 40px;
    margin-top: 5%;
    padding-top: 20px;
    padding-left: 16%;
    font-weight: bold;

}

.p {
    text-align: center;
    margin-right: 50%;
    margin-top: 1%;
    font-size: 24px;
}

.P {

    margin-left: 20%;
    margin-top: 1%;
    font-size: 20px;
}

samp {
    color: hwb(273 0% 0%);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.Logos {
    margin-top: 15px;
    margin-left: 21%;
    display: inline-block;


}

.Foto img {
    float: right;
    margin-top: 5%;
    margin-right: 15%;
    border-radius: 15% 20px;



}

.contenedor2 {

    margin-top: 210PX;
    background-color: #1f1e1e;
    height: 350PX;
    width: 100%;

}


.titulo_principal {

    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;

}


.parrafo {
    
    margin-top: 100px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.img1 {

    margin-right: 10px;
    margin-left: 35%;
    margin-top: 50px;

}

.img2 {

    margin-left: 13%;
    margin-top: 50px;


}

.u{
    
    margin-top: 15px;
    margin-left: 31%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    
} 
.u2{
    margin-top: -44PX;
    margin-left: 57%;
    color: white;
    font-size: 18px;
    display: flex;
    font-weight: bold;
  
}
.a{
    margin-top: 5px;
    color: white;
    margin-left: 36%;
    
}

.a2{
    margin-top: 5px;
    color: white;
    margin-left: 57.4%;
    
}


.titulo-ex{

    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}
.titulo-h2{

    display: inline-block;
    margin-left: 45.5%;
    margin-top: 7rem;
    font-weight: bold;

}
.Titulo--h2{

    display: flex;
    margin-left: 46.5%;
    margin-top: -160px;
    font-weight: bold;

}
.Titulo---h2{

    display: flex;
    margin-left: 45%;
    margin-top: -90px;
    font-weight: bold;

}

.Pp{
    display: flex;
    margin-left: 44%;
}

.pp-{
    display: flex;
    margin-left: 45.5%;
}

.pp{
    display: flex;
    margin-left: 46.1%;
}

.h2--{
    margin-left: 65%;
    margin-top: -45px;

}
.h2---{
    margin-left: 65%;
    margin-top: -45px;

}
.H2{
    margin-left: 64.4%;
    margin-top: -45px;    
}
.icono{
    margin-top: -126px;
    margin-left: 320px;
    margin-bottom: 10%;
}
.icono_1{
    margin-top: -60px;
    margin-left: 380px;
    margin-bottom: 10%;
}

.icono_2{
    margin-top: -60px;
    margin-left: 380px;
  

}
